input[type="checkbox"] {
	width: 100px;
	height: 50px;
	background-color: white;
	-webkit-appearance: none;
	border-radius: 50px;
	border: 1px solid black;
	outline: none;
	position: relative;
	transition-duration: .5s;
}

input:checked[type="checkbox"] {
	background-color: #aaaaaa;
}

div#ToggleTest {
	width: 400px;
	height: 400px;
}

table#TestTable {
	width: 400px;
	height: 400px;
}